
    /*  reset code  */
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

   /*   page code*/

   /* Asegura que html y body ocupen toda la pantalla */
    html, body {
        height: 100%;
        }

   body {
        font-family: 'Poppins', sans-serif;     /*  estilo de letra */
        color: #333;    /* color de la letra del contenid  */
        line-height: 1.6; 
        background-image: url('img/fondo1.png');
        background-size: cover;        /* La imagen cubre toda la pantalla */
        background-position: center;   /* Centrada */
        background-repeat: no-repeat;  /* Evita repeticiones */
        background-attachment: fixed;
        }

    header, nav, main,footer  {
        width: 80%;
        margin: 0 auto;
        border-radius: 1em;     /*  borde en las cajas del contenido    */
        }

    header { 
        min-height: 8rem;
        background-color: #4f46e5;
        color: white;
        text-align: center;
        padding: 2rem 0;        /*  relleno por dentro  */
        margin: 1rem auto; 
        }

    header h1 {
        font-size: 2.5rem;
        letter-spacing: 5px; /* espcio entre letras */
        }

    nav {
        min-height: 4rem;
        background-color: red;
        margin: 1rem auto; 
        color: white;
        text-align: center;
        padding: 2rem 0;
        font-size: 1.5rem;
        letter-spacing: 5px; 
        }

    main {
        min-height: 20rem;
        background-color: yellow;
        display: flex;                  /* Elementos en columnas */
        flex-wrap: wrap;                /* Elementos en fila */
        justify-content: space-around; 
        margin: 1rem auto; 
        }

    main img {
        width: 32%;
        margin-top: 2rem;
        border-radius: 1em;
        }

    main div {
        border: 0.2rem solid black;
        width: 30%;
        font-size: x-large;
    }

    main>img:hover {
    transform: scale(1.05);
    }

    .left {
        background-color: yellowgreen;
        }

    .right {
        background-color: cornflowerblue;
    }

    footer {
        min-height: 7rem;
        background-color: purple;
        color: white;
        text-align: center;
        padding: 1rem 0;
        font-size: 1.5rem;
        letter-spacing: 5px;
        margin: 1rem auto; 
    }

         /* Media query */

    @media screen and (max-width: 600px) {

        body {
        background-color: rgb(0, 251, 217);
        }
         main {
            flex-direction: row;
            align-items: center;    /*   alinear items  */
         }
         /* main div {
            width: 95%;
         } */
          main img {
            width: 40%;
          }
    }


     @media screen and (max-width: 300px) {

        body {
        background-color: rgb(255, 0, 242);
        }

       /* main div {
            flex-direction: column;
            width: 95%;
            
        } */
        main img {
            flex-direction: column;
            width: 95%;
        }
     }
